
/* FONTS */

/* Corundum Text Book Italic
font-family: corundum-text, serif;
font-weight: 400;
font-style: italic;


Corundum Text Book Roman
font-family: corundum-text, serif;
font-weight: 400;
font-style: normal;


Corundum Text Bold Italic
font-family: corundum-text, serif;
font-weight: 700;
font-style: italic;


Corundum Text Bold Roman
font-family: corundum-text, serif;
font-weight: 700;
font-style: normal;



Auger Mono Regular
font-family: auger-mono, monospace;
font-weight: 400;
font-style: normal;


Auger Mono Bold
font-family: auger-mono, monospace;
font-weight: 700;
font-style: normal; */


p {
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}




/* Header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.inside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.inside-header a {
  padding: 0rem 3rem;
  color: white !important;
  text-decoration: none;
}
.nav-home a, .nav-right a {
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.dropdown-menu a {
  color: black !important;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
.dropdown-toggle:after {
  display: none;
}
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
}
.dropdown-menu hr {
  margin: 0rem;
}
.dropdown-menu .dropdown-item {
  padding: 1rem 1.5rem;
}
.dropdown-item:hover {
  background-color: #FEC62E;
}
.nav-exit {
  padding: 0rem !important;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}
.fa-xmark {
  color: #707070;
}



/* Header - this is for the main homepage */
.hero {
  z-index: -1;
}
.fade:not(.show) {
  opacity: 1;
}
.hero-text {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.hero-text h2 {
  color: white;
  font-size: 225px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.hero-text p {
  background-color: #FEC62E;
  padding: 0rem 5rem 3rem 2rem;
  position: absolute;
  left: 40%;
  font-size: 26px;
  z-index: -1;
  bottom: 55%;
  letter-spacing: 2px;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.slick-initialized .slick-slide {
  position: relative;
}
.slick-slide img {
  width: 100vw;
  object-fit: cover;
}



/* Header - this is for subsequent pages */
.hero-subpage {
  background-color: #EB3F1B;
  height: 250px;
  position: relative;
}
.hero-subpage .hero-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.hero-subpage .hero-text h2 {
  font-size: 125px;
}
.hero-subpage .hero-text p {
  font-size: 24px;
  padding: 0rem 3rem 2rem 1rem;
  left: 43%;
  bottom: 40%;
  letter-spacing: 2px;
}



/* Full Width Content - Homepage */
.full-width-content {
  padding: 6rem 0rem 4rem;
}



/* Audio Player */
.audiogallery {
  margin: 3rem 0rem;
  background-color: #F5F5F5;
  padding: 3rem;
  width: 100%;
}

.audioplayer.skin-wave .meta-artist .the-artist {
  color: black;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


/* Image - Copy */
.image-copy {
  padding: 6rem;
}
.image-copy img {
  width: 50%;
}
.image-copy .copy a {
  text-decoration: none;
  color: black;
}
.image-copy .copy a:hover {
  border-bottom: 1px solid black;
}
.image-copy .copy h2 {
  font-size: 52px;
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
}
.image-copy .copy p {
  font-size: 14px;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}



.image-copy-one .col {
  display: flex;
}
.image-copy-one img {
  border-right: solid 300px #FEC62E;
  width: 80%;
}
.image-copy-one .copy {
  margin-left: -250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-copy-two .col {
  display: flex;
  justify-content: end;
}
.image-copy-two img {
  border-left: solid 250px #EB3F1B;
  width: 70%
}
.image-copy-two .copy {
  margin-right: -200px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-three .col {
  display: flex;
}
.image-copy-three img {
  border-right: solid 200px #00A3E0;
  width: 45%;
}
.image-copy-three .copy {
  margin-left: -150px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-four .col {
  display: flex;
  justify-content: end;
}
.image-copy-four img {
  border-left: solid 300px #EB3F1B;
  width: 85%;
}
.image-copy-four .copy {
  margin-right: -250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-five .col {
  display: flex;
}
.image-copy-five img {
  border-right: solid 275px #FEC62E;
  width: 60%;
}
.image-copy-five .copy {
  margin-left: -175px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-six .col {
  display: flex;
  justify-content: end;
}
.image-copy-six img {
  border-left: solid 200px #00A3E0;
  width: 45%;
}
.image-copy-six .copy {
  margin-right: -150px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-seven .col {
  display: flex;
}
.image-copy-seven img {
  border-right: solid 350px #EB3F1B;
  width: 85%;
}
.image-copy-seven .copy {
  margin-left: -300px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-eight .col {
  display: flex;
  justify-content: end;
}
.image-copy-eight img {
  border-left: solid 250px #FEC62E;
  width: 75%;
}
.image-copy-eight .copy {
  margin-right: -250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}



/* Subpages */
/* Articles */
.article-top h2, h5, h6 {
  margin-bottom: 2.5rem;
}
.article-top h2 {
  font-size: 44px;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
}
.article-top h5 {
  font-size: 30px;
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
}
.article-top h6 {
  font-size: 14px;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.article-top img {
  margin: 6rem 0rem;
  width: 100%;
  height: auto;
}
.layers-of-policy .article-top img {
  margin: 6rem 0rem 1rem;
}
.housing-resource .article-top img {
  margin: 6rem 0rem 1rem;
}
.article p, h4 {
  margin-bottom: 2.5rem;
}
.article h4 {
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
}
.article a {
  color: black;
}
.faces-of-paz .article h3 {
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 2.5rem;
}


.listen {
  margin-bottom: 0rem;
  margin: 2.5rem 0rem 5rem;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
}
.listen a {
  color: black;
}
.listen::before {
  content: '';
  height: 100px;
  display: block;
  position: absolute;
  z-index: -1;
  margin-top: -25px;
  margin-left: -25px;
}
.housing-recovery .small-side::before {
content: "";
  width: 10%;
}
.housing-recovery .medium-side::before {
content: "";
  width: 20%;
}
.housing-recovery .large-side::before {
content: "";
  width: 30%;
}
.housing-recovery .red-side::before {
  background-color: #EB3F1B;
}
.housing-recovery .blue-side::before {
  background-color: #00A3E0;
}
.housing-recovery .yellow-side::before {
  background-color: #FEC62E;
}



.article img {
  margin: 2rem 0rem 6rem;
  width: 130%;
  height: auto;
}
.housing-recovery .article img {
  width: 100%;
  margin: 2rem 0rem .5rem;
}
.layers-of-policy .article img {
  width: 100%;
  margin: 2rem 0rem .5rem;
}
.housing-resource .article img {
  width: 100%;
  margin: 2rem 0rem .5rem;
}
.article-quote p {
  font-size: 24px;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: italic;
}
.article-quote a {
  color: black;
}
.article-quote p::before {
  content: "";
  display: block;
  border-top: 2px solid #FEC62E;
  margin: 3rem 0rem;
  width: 30%;
}
.article-quote p::after {
  content: "";
  display: block;
  border-bottom: 2px solid #FEC62E;
  margin: 3rem 0rem;
  width: 30%;
}
.article-grey .col{
  background-color: #E5E5E5;
  padding: 3rem 2rem;
}
.article-grey img{
  width: 100%;
  padding-bottom: 3rem;
}
.article-grey h5{
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

.first-place .article-grey h6{
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.first-place .article-grey h5{
  font-size: 24px;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  margin: 2.5rem 0rem .5rem;
}
.article-grey h4{
  margin: 2.5rem 0rem;
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
}
.article-highlighted {
  padding: 6rem 0rem;
}
.article-highlighted .container {
  background-color: #FEC62E;
  padding: 3rem;
  text-align: center;
}
.article-highlighted h3 {
  margin-bottom: 2.5rem;
}
.article-closing {
  text-align: center;
}

.about .article {
  padding: 4rem 0rem;
}
.about .article-closing {
  padding: 12rem 0rem;
}
.about .article-closing a {
  color: black;
}
.about .article h3{
  margin-bottom: 2.5rem;
}
.methodology .article-top h5 {
  margin: 2.5rem 0rem .5rem;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
}
.methodology .article-top h3 {
  margin: 0rem 0rem 1.5rem;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
}
.methodology .article h3, .article-bottom h3 {
  margin: 0rem 0rem 1.5rem;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
}
.about .article h3, .about .article-highlighted h3, .about .contributors h3 {
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
}
.about .contributors h3 {
  text-align: center;
}
.methodology .article-top {
  margin: 6rem 0rem;
}
.methodology .article{
  margin: 6rem 0rem;
}
.methodology .article-bottom {
  margin: 6rem 0rem 12rem;
}

.caption {
  margin-bottom: 1rem;
  font-size: 18px;
  margin-bottom: 4rem !important;
}



.recommended {
  position: absolute;
  right: 8%;
  max-width: 300px;
}
@media screen and (max-width: 1600px ) {
  .recommended {
    right: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .recommended {
    display: none;
  }
}
.recommended a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.recommended h6 {
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.recommended p {
  margin-bottom: 1rem;
}


.full-image {
  margin-bottom: 2.5rem;
}


/* For statistics */
.statistics-row {
  margin-bottom: 4rem;
}
.statistics {
  padding: 2.5rem 2rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.statistics h3 {
  font-size: 70px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.statistics p {
  font-size: 20px;
  margin-bottom: 0;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}



/* background-colors */
.blue {
  background-color: #00A3E0;
}
.red {
  background-color: #EB3F1B;
}
.yellow {
  background-color: #FEC62E;
}

/* Author Section */
.author-info {
  display: flex;
  padding: 3rem 0rem;
}
.author-image {
  padding: 5rem 4rem 2rem 2rem;
}
.author-image p {
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}
.author-image::before {
  content: "";
  background-color: #EB3F1B;
  height: 200px;
  width: 70px;
  display: block;
  position: absolute;
  z-index: -1;
  margin-top: -25px;
  margin-left: -25px;
}
.author-image img {
  height: 150px;
  background-color: aliceblue;
}
.author-about h6 {
  border-top: 1px solid black;
  width: 40%;
  padding-top: 1rem;
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
.author-about h5 {
  padding-top: 1rem;
  font-size: 24px;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
}

.about .authors {
  display: flex;
  flex-wrap: wrap;
}
.about .author-image::before {
  content: "";
  display: block;
  height: 410px;
  position: absolute;
  z-index: -1;
  margin-top: -35px;
  margin-left: -25px;
}
.about .small::before {
  content: "";
  width: 70px;
}
.about .medium::before {
  content: "";
  width: 160px;
}
.about .large::before {
  content: "";
  width: 260px;
}
.about .red-side::before {
  background-color: #EB3F1B;
}
.about .blue-side::before {
  background-color: #00A3E0;
}
.about .yellow-side::before {
  background-color: #FEC62E;
}

.about .author-image {
  position: relative;
}
.about .author-image img {
  height: auto;
  width: 100%;
  background: aliceblue;
}
.about .name {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Footer */
.footer {
  background-color: #333132;
  height: 300px;
  padding: 5rem 0rem 3rem;
}
.footer-content img {
  width: 100%;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social img {
  width: 75%;
}
.address-number-email {
  margin-top: 0.7rem;
}
.address-number-email p, .footer-copyright p {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 1.2;
}
.footer-copyright {
  padding-top: 2rem;
}












.arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.arial-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.auger {
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.auger-bold {
  font-family: auger-mono, monospace;
  font-weight: 700;
  font-style: normal;
}


@media only screen and (max-width: 480px) {
  .nav-right {
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .slick-slide img {
    height: 75vh;
  }
  .hero-text {
    top: 97%;
  }
  .hero-text h2 {
    font-size: 80px;
  }
  .hero-text p {
    padding: 0rem 2rem 2rem 2rem;
    left: 12%;
    font-size: 26px;
    bottom: 30%;
  }

  .hero-subpage .hero-text {
    top: 93%;
  }
  .hero-subpage .hero-text p {
    padding: 0rem 2rem 2rem 1rem;
    left: 20%;
    left: 15%;
    bottom: 20%;
  }
  .hero-subpage .hero-text h2 {
    font-size: 64px;
  }


  .full-width-content {
    padding: 6rem 2rem 4rem;
  }


  .column_flex {
    flex-direction: column;
  }
  .column-reverse_flex {
    flex-direction: column-reverse;
  }


  .image-copy {
    padding: 2rem;
  }
  .image-copy .copy h2 {
    font-size: 30px;
  }

  .image-copy-one .copy {
    height: auto;
    margin-left: 0px;
  }
  .image-copy-one img {
    border-right: 0px;
    width: 100%;
  }

  .image-copy-two .copy {
    height: auto;
    margin-right: 0px;
  }
  .image-copy-two img {
    border-left: 0px;
    width: 100%;
  }

  .image-copy-three .copy {
    height: auto;
    margin-left: 0px;
  }
  .image-copy-three img {
    border-right: 0px;
    width: 100%;
  }

  .image-copy-four .copy {
    height: auto;
    margin-right: 0px;
  }
  .image-copy-four img {
    border-left: 0px;
    width: 100%;
  }

  .image-copy-five .copy {
    height: auto;
    margin-left: 0px;
  }
  .image-copy-five img {
    border-right: 0px;
    width: 100%;
  }

  .image-copy-six .copy {
    height: auto;
    margin-right: 0px;
  }
  .image-copy-six img {
    border-left: 0px;
    width: 100%;
  }

  .image-copy-seven .copy {
    height: auto;
    margin-left: 0px;
  }
  .image-copy-seven img {
    border-right: 0px;
    width: 100%;
  }

  .image-copy-eight .copy {
    height: auto;
    margin-right: 0px;
  }
  .image-copy-eight img {
    border-left: 0px;
    width: 100%;
  }



  .ap-controls {
    display: flex;
    flex-wrap: wrap;
  }
  .audioplayer.skin-wave:not(.skin-wave-mode-small):not(.skin-wave-mode-nocontrols) .con-controls {
    width: 25%;
  }
  .audioplayer.skin-wave:not(.skin-wave-mode-small):not(.skin-wave-mode-nocontrols) .meta-artist-con {
    display: flex;
    align-items: center;
  }
  .audioplayer.skin-wave.under-720 .meta-artist-con .the-artist {
    white-space: break-spaces;
  }
  .audioplayer.skin-wave .meta-artist .the-artist {
    font-size: 12px;
  }


  .article-top {
    padding: 0rem 2rem;
  }
  .article {
    padding: 0rem 2rem;
  }
  .article img {
    width: 100%;
  }
  .article-quote {
    padding: 0rem 2rem;
  }
  .article-bottom {
    padding: 0rem 2rem;
  }
  .about .article-closing {
    padding: 12rem 2rem
  }
  .about .article {
    padding: 4rem 2rem;
  }
  .listen {
    margin: 2.5rem 2rem 5rem;
  }

  .full-image img {
    width: 100%;
  }


  .methodology .full-image img {
    width: 100%;
    height: 100%;
    padding: 3rem;
  }


  .about .author-image::before {
    height: 285px;
  }
  .about .small::before {
    content: "";
    width: 60px;
  }
  .about .medium::before {
    content: "";
    width: 100px;
  }
  .about .large::before {
    content: "";
    width: 160px;
  }



  .about-the-author {
    padding: 0rem 1rem;
  }
  .author-info {
    padding: 3rem 1rem;
    flex-direction: column;
  }


  .footer {
    height: 400px;
    padding: 1rem 0rem 3rem;
  }
  .address-number-email {
    margin: 1rem 1.5rem;
  }
  .footer-social {
    justify-content: space-around;
    width: 70%;
    margin: 1rem 1.25rem;
  }
  .footer-social img {
    width: 35%;
  }
  .footer-copyright {
    padding: 2rem;
  }

}
