
/* FONTS */

/* Corundum Text Book Italic
font-family: corundum-text, serif;
font-weight: 400;
font-style: italic;


Corundum Text Book Roman
font-family: corundum-text, serif;
font-weight: 400;
font-style: normal;


Corundum Text Bold Italic
font-family: corundum-text, serif;
font-weight: 700;
font-style: italic;


Corundum Text Bold Roman
font-family: corundum-text, serif;
font-weight: 700;
font-style: normal;



Auger Mono Regular
font-family: auger-mono, monospace;
font-weight: 400;
font-style: normal;


Auger Mono Bold
font-family: auger-mono, monospace;
font-weight: 700;
font-style: normal; */



/* Header */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.inside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.inside-header a {
  padding: 0rem 3rem;
  color: white !important;
  text-decoration: none;
}
.dropdown-menu a {
  color: black !important;
  inline-size: 300px;
  font-family: corundum-text, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
.dropdown-toggle:after {
  display: none;
}
.nav-right {
  display: flex;
  list-style: none;
  margin: 0;
}
.dropdown-menu.show {
  padding: 1rem 1.5rem;
}
.dropdown-item {
  padding: 0rem !important;
}
.dropdown-item:hover {
  background-color: #FEC62E;
}
.nav-exit {
  padding: 0rem !important;
  display: flex;
  justify-content: flex-end;
}
.fa-xmark {
  color: #707070;
}



/* Header - this is for the main homepage */
.hero {
  z-index: -1;
  position: relative;
}
.fade:not(.show) {
  opacity: 1;
}
.hero-text {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.hero-text h2 {
  color: white;
  font-size: 225px;
}
.hero-text p {
  background-color: #FEC62E;
  padding: 0rem 4rem 2rem 2rem;
  position: absolute;
  left: 40%;
  font-size: 40px;
  z-index: -1;
  bottom: 55%;
  letter-spacing: 2px;
}



/* Header - this is for subsequent pages */
.hero-subpage {
  background-color: #EB3F1B;
  height: 250px;
  position: relative;
}
.hero-subpage .hero-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.hero-subpage .hero-text h2 {
  font-size: 125px;
}
.hero-subpage .hero-text p {
  font-size: 24px;
  padding: 0rem 3rem 2rem 1rem;
  left: 43%;
  bottom: 40%;
  letter-spacing: 2px;
}



/* Full Width Content - Homepage */
.full-width-content {
  padding: 6rem 0rem 4rem;
}



/* Audio Player */
.audiogallery {
  margin: 3rem 0rem;
  background-color: #F5F5F5;
  padding: 3rem;
  width: 115%;
}


/* Image - Copy */
.image-copy {
  padding: 6rem;
}
.image-copy img {
  width: 50%;
}
.image-copy .copy a {
  text-decoration: none;
  color: black;
}
.image-copy .copy a:hover {
  border-bottom: 1px solid black;
}
.image-copy .copy h2 {
  font-size: 45px;
}



.image-copy-one .col {
  display: flex;
}
.image-copy-one img {
  border-right: solid 350px #FEC62E;
  width: 85%;
}
.image-copy-one .copy {
  margin-left: -300px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-copy-two .col {
  display: flex;
  justify-content: end;
}
.image-copy-two img {
  border-left: solid 200px #EB3F1B;
  width: 70%
}
.image-copy-two .copy {
  margin-right: -150px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-three .col {
  display: flex;
}
.image-copy-three img {
  border-right: solid 200px #00A3E0;
  width: 45%;
}
.image-copy-three .copy {
  margin-left: -150px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-four .col {
  display: flex;
  justify-content: end;
}
.image-copy-four img {
  border-left: solid 300px #EB3F1B;
  width: 85%;
}
.image-copy-four .copy {
  margin-right: -250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-five .col {
  display: flex;
}
.image-copy-five img {
  border-right: solid 300px #FEC62E;
  width: 60%;
}
.image-copy-five .copy {
  margin-left: -250px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-six .col {
  display: flex;
  justify-content: end;
}
.image-copy-six img {
  border-left: solid 175px #00A3E0;
  width: 45%;
}
.image-copy-six .copy {
  margin-right: -140px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-seven .col {
  display: flex;
}
.image-copy-seven img {
  border-right: solid 350px #EB3F1B;
  width: 85%;
}
.image-copy-seven .copy {
  margin-left: -300px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.image-copy-eight .col {
  display: flex;
  justify-content: end;
}
.image-copy-eight img {
  border-left: solid 250px #FEC62E;
  width: 75%;
}
.image-copy-eight .copy {
  margin-right: -200px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}



/* Subpages */
/* Articles */
.article-top h2, h5, h6 {
  margin-bottom: 2.5rem;
}
.article-top h2 {
  font-size: 44px;
}
.article-top h5 {
  font-size: 30px;
}
.article-top h6 {
  font-size: 14px;
}
.article-top img {
  margin: 6rem 0rem;
  width: 100%;
  height: auto;
}
.article p, h4 {
  margin-bottom: 2.5rem;
}
.listen {
  margin-bottom: 0rem;
  margin: 2.5rem 0rem 5rem;
}
.article img {
  margin: 2rem 0rem 6rem;
  width: 130%;
  height: auto;
}
.article-quote p {
  font-size: 24px;
  font-weight: 700;
}
.article-quote p::before {
  content: "";
  display: block;
  border-top: 2px solid #FEC62E;
  margin: 3rem 0rem;
  width: 30%;
}
.article-quote p::after {
  content: "";
  display: block;
  border-bottom: 2px solid #FEC62E;
  margin: 3rem 0rem;
  width: 30%;
}
.article-grey .col{
  background-color: #E5E5E5;
  padding: 3rem 2rem;
}
.article-grey img{
  width: 100%;
  padding-bottom: 3rem;
}
.article-grey h5{
  margin: 3rem 0rem 0rem;
}
.article-highlighted {
  padding: 6rem 0rem;
}
.article-highlighted .container {
  background-color: #FEC62E;
  padding: 3rem;
  text-align: center;
}
.article-highlighted h3 {
  margin-bottom: 2.5rem;
}
.article-closing {
  text-align: center;
}

.methodology .article {
  padding: 4rem 0rem;
}
.about .article, .about .article-closing {
  padding: 4rem 0rem;
}
.about .article h3{
  margin-bottom: 2rem;
}



.recommended {
  position: absolute;
  right: 8%;
  max-width: 300px;
}
@media screen and (max-width: 1600px ) {
  .recommended {
    right: 3%;
  }
}
@media screen and (max-width: 1200px) {
  .recommended {
    display: none;
  }
}
.recommended a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.recommended p {
  margin-bottom: 1rem;
}


.full-image {
  margin-bottom: 2.5rem;
}


/* For statistics */
.statistics-row {
  margin-bottom: 4rem;
}
.statistics {
  padding: 2rem;
  float: right;
  margin-left: 2rem;
}
.statistics h3 {
  font-size: 70px;
  color: white;
}
.statistics p {
  margin-bottom: 0;
}



/* background-colors */
.blue {
  background-color: #00A3E0;
}
.red {
  background-color: #EB3F1B;
}
.yellow {
  background-color: #FEC62E;
}

/* Author Section */
.author-info {
  display: flex;
  padding: 3rem 0rem;
}
.author-image {
  padding: 5rem 4rem 2rem 2rem;
}
.author-image::before {
  content: "";
  background-color: #EB3F1B;
  height: 200px;
  width: 70px;
  display: block;
  position: absolute;
  z-index: -1;
  margin-top: -25px;
  margin-left: -25px;
}
.author-image img {
  height: 150px;
}
.author-about h6 {
  border-top: 1px solid black;
  width: 25%;
  padding-top: 1rem
}
.author-about h5 {
  padding-top: 1rem;
  font-size: 24px;
}



/* Footer */
.footer {
  background-color: #333132;
  height: 300px;
  padding: 5rem 0rem 3rem;
}
.footer-content img {
  width: 100%;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social img {
  width: auto;
  height: 35%;
}
.address-number-email {
  margin-top: 0.7rem;
}
.address-number-email p, .footer-copyright p {
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 1.2;
}
.footer-copyright {
  padding-top: 2rem;
}













p {
  font-family: corundum-text, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.arial-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.auger {
  font-family: auger-mono, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.auger-bold {
  font-family: auger-mono, monospace;
  font-weight: 700;
  font-style: normal;
}
